.colour-1 { background-color: #e86ea4; }

.colour-2 { background-color: #e8776e; }

.colour-3 { background-color: #e8b46e; }

.colour-4 { background-color: #dfe86e; }

.colour-5 { background-color: #a2e86e; }

.mono-colour-1 { background-color: #5c939a; }

.mono-colour-2 { background-color: #86a9ad; }

.mono-colour-3 { background-color: #9bb4b7; }

.mono-colour-4 { background-color: #afbfc2; }

.mono-colour-5 { background-color: #c2cccd; }

.compound-colour-1 { background-color: #5c939a; }

.compound-colour-2 { background-color: #9a635c; }

.compound-colour-3 { background-color: #5c9a82; }

.compound-colour-4 { background-color: #9a5c74; }

.compound-colour-5 { background-color: #98d5dd; }

.split-colour-1 { background-color: #5c939a; }

.split-colour-2 { background-color: #9a825c; }

.split-colour-3 { background-color: #ddc298; }

.split-colour-4 { background-color: #9a5c74; }

.split-colour-5 { background-color: #dd98b3; }

.triad-colour-1 { background-color: #5c939a; }

.triad-colour-2 { background-color: #98d5dd; }

.triad-colour-3 { background-color: #939a5c; }

.triad-colour-4 { background-color: #d5dd98; }

.triad-colour-5 { background-color: #9a5c92; }

.analog-colour-1 { background-color: #5c939a; }

.analog-colour-2 { background-color: #5c749a; }

.analog-colour-3 { background-color: #635c9a; }

.analog-colour-4 { background-color: #825c9a; }

.analog-colour-5 { background-color: #9a5c93; }

.mono-gray-colour-1 { background-color: #7b7b7b; }

.mono-gray-colour-2 { background-color: #9a9a9a; }

.mono-gray-colour-3 { background-color: darkgrey; }

.mono-gray-colour-4 { background-color: #b8b8b8; }

.mono-gray-colour-5 { background-color: #c7c7c7; }

.base-colour { background-color: #5c939a; }

section { float: left; width: 100%; }

div { float: left; height: 150px; width: 150px; margin: 20px; }
